html {
    font-size: 36%;
}

body {
    /* Color Palette */
    --bg-color: rgba(81, 111, 161, 1);
    --bg-color-darker: rgba(57, 95, 140, 0.8);
    --txt-color: rgba(255, 245, 218, 1);
    --txt-color-tr: rgba(255, 245, 218, 0.8);
    --accent-big: rgba(251, 203, 0, 1);
    --accent-big-tr: rgba(251, 203, 0, 0.8);
    --accent-samall: rgba(254, 99, 1, 1);
    --accent-samall-tr: rgba(254, 99, 1, 0.8);

    background-color: var(--bg-color);
    color: var(--txt-color-tr);
    font-family: "comfortaa", Arial, sans-serif;
    margin: 0 auto;
    max-width: 1224px;
}

header,
.hero-section,
.player-and-testimonials,
.player-section,
.quote-section,
.socials-section,
footer {
    padding: 0 5%;
    display: flex;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    pointer-events: none;
}

h1 {
    font-family: 'rubikmonoone';
    color: var(--txt-color);
    font-size: 3.2rem;
    max-width: 6em;
    margin: 0;
}

h2 {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

/* Header */

header {
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px dotted var(--accent-samall-tr);
}

.site-id {
    display: flex;
    gap: 1em;
    margin: 1em 0;
}

.logo-header {
    width: 40px;
}

.nav-bar-horizontal {
    display: flex;
    font-family: 'comfortaa';
    font-size: 3.2rem;
    color: var(--txt-color-tr);
    gap: 1em;
}

.nav-decor {
    display: flex;
    font-size: 1.4rem;
    justify-content: center;
    gap: 1em;
    margin-top: 0.5em;
}

.nav-decor-s {
        color: var(--txt-color-tr);
    }

.nav-decor-m {
        color: var(--accent-samall-tr);
    }

@media (hover: hover) {
    
    .nav-bar-horizontal a:hover {
        color: var(--txt-color);
    }
    .nav-bar-horizontal a:hover .nav-decor .nav-decor-s {
        color: var(--accent-big-tr);
    }
    .nav-bar-horizontal a:hover .nav-decor .nav-decor-m {
        color: var(--txt-color-tr);
    }

    .nav-bar-vertical a:hover {
        color: var(--txt-color);
    }
    .nav-bar-vertical a:hover .nav-decor .nav-decor-s {
        color: var(--accent-big-tr);
    }
    .nav-bar-vertical a:hover .nav-decor .nav-decor-m {
        color: var(--txt-color-tr);
    }

}

@media (max-width: 600px) {
    .nav-bar-horizontal {
        display: none;
    }
}

.menu-icon {
    width: 35px;
    pointer-events: fill;
    cursor: pointer;
}

.nav-bar-vertical {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

@media (min-width: 600px) {

    .menu-icon {
        display: none;
    }

}

.nav-bar-vertical {
    display: none;
    position: absolute;
    right: 0%;
    background: var(--bg-color-darker);
    max-width: fit-content;
    font-size: 3.2rem;
    text-align: right;
    padding: 1em 5%;
    margin: 0.5em 0.5em;
    border-radius: 2.3rem;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.nav-bar-vertical.active {
    display: flex;
}

@media (min-width: 600px) {
    .nav-bar-vertical.active {
        display: none;
    }
}

.nav-bar-vertical a {
    display: flex;
    justify-content: flex-end;
}

.nav-bar-vertical a .nav-decor {
    float: right;
    margin: 0 0 0 1em;
}

.menu-icon.x-menu {
    display: none;
    width: 32px;
}

.menu-icon.h-menu.inactive {
    display: none;
}

.menu-icon.x-menu.active {
    display: block;
}
/* Доработать! Убрать выделение в меню. Настроить реакции тача */

/* Hero section */

.hero-section {

    --hero-font-size: 16rem;
    
    font-size: var(--hero-font-size);
    flex-direction: column;
    align-items: center;
    padding: 5%;
    border-bottom: 1px dotted var(--accent-samall-tr);
}

@media (max-width: 824px) {
    .hero-section {
        --hero-font-size: 14rem;
    }
}
@media (max-width: 740px) {
    .hero-section {
        --hero-font-size: 12rem;
    }
}
@media (max-width: 600px) {
    .hero-section {
        --hero-font-size: 9rem;
    }
}
@media (max-width: 520px) {
    .hero-section {
        --hero-font-size: 7.5rem;
    }
}
@media (max-width: 490px) {
    .hero-section {
        --hero-font-size: 6rem;
    }
}

/* .hero-1 {
    display: none;
} */

.hero-2 {
    display: none;
}

.hero-3 {
    display: none;
}

.hero-4 {
    display: none;
}

.hero-section .line-1 {
    font-family: 'caveat';
    font-size: var(--hero-font-size);
    padding-right: 35%;
}

.hero-section .line-2 {
    font-family: 'poiretone';
    font-size: var(--hero-font-size);
    color: var(--txt-color);
    padding-left: 35%;
}

.hero-section .line-3 {
    font-family: 'russoone';
    font-size: var(--hero-font-size);
    color: var(--accent-big);
}

.screen-spot {
    position: absolute;
    z-index: -1;
    width: 90%;
    height: 30%;
    background: var(--bg-color);
    mix-blend-mode: screen;
    opacity: 0.3;
    filter: blur(56.85px);
    border-radius: 230px; 
}

/* Player and testimonials*/

.player-and-testimonials {
    justify-content: space-between;
    flex-wrap: wrap;
    border-bottom: 1px dotted var(--accent-samall-tr);
}

.player-section,
.quote-section {
    flex-direction: column;
    font-size: 2.8rem;
    min-width: 20em;
    max-width: 20em;
}

/* Player */

.player-section {
    background: var(--bg-color-darker);
    border-radius: 2.3rem;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 5% 0;
}

.music-title {
    font-size: 2.8rem;
    text-align: center;
    margin: 10% 0 0 0;
}

.music-title h3 {
    font-size: inherit;
    margin: 0;
}

.artist-name {
    color: var(--accent-samall);
}

.song-name {
    color: var(--txt-color);
}

.player-center-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.genre-selector button {
    background: none;
    border: none;
    display: flex;
    align-items: center;
    font: var(--txt-color-tr);
    color: inherit;
    padding: 0.5em 0;
    cursor: pointer;
}

.genre-selector button .nav-item {
    writing-mode: vertical-lr;
    rotate: 180deg;
    font-size: 2.4rem;
}

.genre-selector button .nav-decor {
    font-size: 1.2rem;
    flex-direction: column;
    gap: 0.4em;
    margin: 0 0 0 0.5em;
}

.album-cover {
    width: 10em;
    border-radius: 1.8rem;
}

.volume-fader {
    position: relative;
}

.fader-line {
    position: inherit;
    width: 2.5em;
    z-index: 2;
}

.fader-slider {
    position: absolute;
    left: -10%;
    bottom: 50%;
    width: 3em;
    z-index: 3;
}

.fader-glow {
    position: absolute;
    right: 9%;
    top: -8%;
    width: 2em;
    height: 16em;
    background: #fff;
    mix-blend-mode: screen;
    opacity: 0.2;
    filter: blur(30px);
    border-radius: 30px;
    z-index: 1;
}


.player-buttons {
    position: relative;
    align-self: center;
}

.player-buttons button {
    position: inherit;
    background: none;
    border: none;
    padding: 0;
    z-index: 2;
}

.player-buttons button img {
    width: 3.8em;
}

.transport-glow {
    /* display: none; */
    position: absolute;
    right: -10%;
    top: 10%;
    width: 12em;
    height: 2em;
    background: #fff;
    mix-blend-mode: screen;
    opacity: 0.35;
    filter: blur(40px);
    border-radius: 30px;
    z-index: 1;
}

.timecode {
    align-self: center;
    background: #555555;
    color: var(--accent-big-tr);
    font-family: 'iceberg';
    font-size: 4.8rem;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 2.5%;
    margin: 5% 0 10% 0;
}

/* Testimonials */

